<h2 class="text-center">Lista de Agendas</h2>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Título do Serviço</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Data e Hora de Início</th>
                <th>Data e Hora de Fim</th>
                <th>Observação</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let servico of servicos">
              <th scope="row">{{ servico.codigo }}</th>
              <td>{{ servico.tituloServico }}</td>
              <!-- Substitua com o nome do cliente quando disponível -->
              <td>Nome</td>
              <td>{{ servico.valorServico | currency:'BRL' }}</td>
              <td>{{ servico.status }}</td>
              <td>{{ servico.descricaoServico }}</td>
                <td>
                  <button type="button" class="btn btn-warning" (click)="alterarServico(servico.codigo)">Editar</button>
                  <button type="button" class="btn btn-danger" (click)="excluirServico(servico.codigo)">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>

    <br>

    <button (click)="incluirServico()"  class="btn btn-info" style="margin-left: 10px;">Inserir Novo Agendamento</button>
    <button (click)="retornar()" class="btn btn-success" style="margin-left: 10px;">Voltar</button>
</div>
