<div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-4 mt-5">Bem-vindo</h1>
        <!-- <p class="lead">Gerencie pessoas e equipamentos de forma eficiente e organizada.</p> -->
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 text-center">
     </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-info btn-lg mb-3" routerLink="/inserir-agendamento">Inserir Agendamento</button>
        <button class="btn btn-info btn-lg mb-3" routerLink="/inserir-servico">Inserir Serviço</button>
        <br>
        <button class="btn btn-info btn-lg mb-3" routerLink="/listar-agendas">Listar Agendas</button>
        <button class="btn btn-info btn-lg mb-3" routerLink="/listar-servicos">Listar Serviços</button>
        
      </div>
    </div>
  </div>
  